.App {
  text-align: center;
}





.modalBackground{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;

}

.modalShowing-true{
opacity: 1;
pointer-events: visible;
}


.modalInner{
  margin:auto;
  display:flex;
  flex-direction: row;
  background: rgba(225, 227, 241, 0.993);
  width: 600px;
  height: 800px;
}

/* Rectangle 2 */



.exitButton{
  padding: 10px;
  display:block;
  width:50px;
  height: 20px;
  background-color: transparent;
  border:none;
  color:white;
  position: absolute;

}

/* 
this is notepad */

/**
 * Notepad
 */
.note-add{
  text-align: center;
}
 #app {
  margin-top: 20px;
}

#note-add {
  margin-bottom: 15px;
}

.note-box {
  font-size: 14px;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alerts {
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #3c763d;
}


label {
  font-size: 18px;
}

.delete {
  font-weight: bold;
  font-size: 22px;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
}

.delete:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #777777;
}

.green {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.red {
  background-color: #f2dede;
  border-color: #ebccd1;
}

.blue {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.orange {
  background-color: #fcf8e3;
  border-color: #faebcc;
}



/* login css */
h1.login-title {
color: #5600E8;
grid-column: 5;
font-size: 60px;
font-weight:normal;
margin: 0.5em;
padding: 0.5em;
height: 60px;
position: absolute;
top:8%;
}

img.image{
width: 500px;
height: 360px;
margin: 0.5em;
padding: 0.5em;
position:absolute;
top: 60%;
right: 75%;
}

.login-explain{
  color: #000000;
  letter-spacing: 0.15px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  right: 75%;
  top: 40%;
  
}
ul {
  list-style-type: none;
}

.header-outer {
  list-style-type: none;
  
  height: 200px;
}

.login {
  height: 800px;
}

.login-form{
  grid-column: 9 ;
  grid-row: 2/-1;
  background-color: #282ece0a;
  width: 467px;
  height: 550px;
  margin: 0.5em;
  padding: 0.5em;
  position: absolute;
  left: 65%;
  top: 20%;
}


#signup-bottom{
  grid-column: 9;
  grid-row: 9;
  left: 30%;
  margin-left: 12%;
  margin-top: -4%;
  border-radius: 10px;
  background:#5500e8c4;
  color:white;
  border:none;
  height: 59px;
  width: 357px;
  margin: 0.5em;
  font-size: 18px;
}

#username{
  width:339px;
  height: 62px;
  text-align: center;
  font-size: 20px;
  background-color: #c4c4c475;
  border-radius: 10px;
}

#password {
  width:339px;
  height: 62px;
  text-align: center;
  font-size: 20px;
  background-color: #c4c4c475;
  border-radius: 10px;
}

.signup-input{
  width:339px;
  height: 62px;
  text-align: center;
  font-size: 20px;
  background-color: #c4c4c475;
  border-radius: 10px;
}

#login-button{
  width: 147px;
  height: 60px;
  background-color: rgb(86, 0, 232);
  color:white;
  border:none;
  border-radius: 10px;
  font-size: 20px;
}

.signup-form{
  text-align:center;
  display: inline-block;
}

.signup-button{
  width:477px;
  height: 58px;
  background:#5500e8c4;
  color:white;
  border:none;
  border-radius: 10px;
  font-size: 20px;
}

.signup{
    left: 2px;
    position: absolute;
    right: 1px;
}




.exform{
  margin: 0.5em;
  padding: 0.5em;
}

.title{
  position: absolute;
  right: 90%;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 36px;
}

nav.header-navigation{
  background: #6200EE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 180px;
  align-items: center;
}
/* 1. Top /A. Regular/a. Flat */


.js-search{

  border-radius: 10px;
  width: auto;
  height: 20px;
  text-align: center;


}

.filter{
  border-radius: 10px;
  width: auto;
  height: 20px;
  text-align: center;

 
}

.notePad{
  width: 800px;
  height:auto;
  border-radius: 10px;
  background-color: rgba(222, 218, 236, 0.548);
  margin: 20px;
 
 
}

.excard{
width: 500px;
height:auto;
border-radius: 10px;
background-color: rgba(222, 218, 236, 0.548);
margin: 20px;

}



.flex-container{
  display: flex;
  justify-content: space-around;
  align-items:  center;
  height: 600px;
}

.sort-flex{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.delete-btn{
  border-radius: 10px;
  background:#5500e8c4;
}

.btn-success{
  border-radius: 10px;
  background:#5500e8c4;
  margin-left: 15px;
}
#note-add{
  text-align: center;
}



.modal-create-expense{
  margin:auto;
  display:flex;
  flex-direction: row;
  background: rgba(225, 227, 241, 0.993);
  width: 600px;
  height: 700px
}

.addEXinput{
  width:300px;
  height: 62px;
  text-align: center;
  font-size: 20px;
  background-color: #c4c4c475;
  border-radius: 10px;

}

.addexSubmit{
  width:477px;
  height: 58px;
  background:#5500e8c4;
  color:white;
  border:none;
  border-radius: 10px;
  font-size: 20px;
}

.exFORM{
  left: 2px;
  position: absolute;
  right: 1px;
  top:250px;
}

.red{
  color: red;
  background-color: transparent;
}

.edit-from{
  text-align:center;
  display: inline-block;
}


.edit-input{
  width:339px;
  height: 62px;
  text-align: center;
  font-size: 20px;
  background-color: #c4c4c475;
  border-radius: 10px;
}

.edit-button{
  width:477px;
  height: 58px;
  background:#5500e8c4;
  color:white;
  border:none;
  border-radius: 10px;
  font-size: 20px;
}


/* drop down */

#exform_button{
  background-color: #5e4caf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px; 
  height:50px;
  margin:5px;
  align-self:flex-end;
  margin-left: 1000px;
}

.dropbtn {
  background-color: #5e4caf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin:5px;
  margin-top:123px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #dddff7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  
}


.dropdown:hover .dropdown-content {
  display: block;
}

.exform_button, .logout-button{
  border-radius: 10px;
  background: #5500e8c4;
  color: rgb(209, 209, 211);
  padding: 16px;
  font-size: 16px;
  align-content: center;
  border: none;
  cursor: pointer;
  height: 45px;
  margin: 5px;
}

.delete-user{
  border-radius: 10px;
  background: #e8001fc4;
  color: rgb(209, 209, 211);
  padding: 16px;
  font-size: 16px;
  align-content: center;
  border: none;
  cursor: pointer;
  height: 45px;
  margin: 5px;
}

.welcome-user{
  margin:9px;
}